# Example admin users' secrets file. Strings for htpasswd can be generated with
# apache2-utils's htpasswd script. Nginx accepts crypt() or MD5-based passwords.
# Circa January 2014, uWSGI only accepts crypt. The example below is the output
# for `htpasswd -nd username insecure` (-n: output to stdio, -d: use crypt()).

{% macro hipikat_htpasswd() -%}
  vX82G1D5SpNE.
{%- endmacro %}
