#
# Secret data, only visible to trusted system admins.
##########################################

# Strings for htpasswd can be generated with apache2-utils's htpasswd
# script. Nginx accepts crypt() or MD5-based passwords. Circa January 2014,
# uWSGI only accepts crypt.
{% macro htpasswd(user) -%} 
  {%- if user == 'hipikat' -%} 
    ai888a3fljlief
  {%- endif -%} 
{%- endmacro %}

# Cloud provider secrets
{% macro digitalocean_key(type) -%} 
  {%- if type == 'client' -%} 
    aefhiahuksehfvksuehvkaevegkuhku
  {%- elif type == 'api' -%} 
    fllaiehvohizelvigaelihg7laiheg
  {%- endif -%} 
{%- endmacro %}
